<?xml version="1.0" encoding="utf-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.alex.thomas.web.elevate.assessment.todo"
        versionCode = "10"
		version   = "1.5.2">

		<name>todo-app</name>
		<description>todo app for web elevate</description>
		<author href="https://github.com/AlexThomasWebElevate" email="alex.thomas@webelevate.ie">Alex</author>
        <content src="index.html" />

        <feature name="http://api.phonegap.com/1.0/network" />

        <preference name="orientation"                value="default" />
        <preference name="target-device"              value="universal" />
        <preference name="fullscreen"                 value="true" />
        <preference name="webviewbounce"              value="false" />
        <preference name="prerendered-icon"           value="true" />
        <preference name="stay-in-webview"            value="false" />
        <preference name="ios-statusbarstyle"         value="black-opaque" />
        <preference name="detect-data-types"          value="true" />
        <preference name="exit-on-suspend"            value="false" />
        <preference name="show-splash-screen-spinner" value="true" />
        <preference name="auto-hide-splash-screen"    value="true" />
        <preference name="android-installLocation"    value="auto" />

        <icon src="icon.png" />
        <icon src="./res/icons/ios/icon-72-2x-144px.png" platform="ios" width="144" height="144" />
        <icon src="./res/icons/ios/icon-2x-114px.png" platform="ios" width="114" height="114" />
        <icon src="./res/icons/ios/icon-60-2x-120px.png" platform="ios" width="120" height="120" />
        <icon src="./res/icons/ios/icon-60-3x-180px.png" platform="ios" width="180" height="180" />
        <icon src="./res/icons/ios/icon-76-2x-152px.png" platform="ios" width="152" height="152" />
        <icon src="./res/icons/android/icon-36-ldpi.png" platform="android" qualifier="ldpi" />
        <icon src="./res/icons/android/icon-72-hdpi.png" platform="android" qualifier="hdpi" />
        <icon src="./res/icons/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi" />
        <icon src="./res/icons/android/icon-144-xxhdpi.png" platform="android" qualifier="xxhdpi" />
        <icon src="./res/icons/android/icon-192-xxxhdpi.png" platform="android" qualifier="xxxhdpi" />

        <splash src="./res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
        <splash src="./res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
        <splash src="./res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
        <splash src="./res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
        <splash src="./res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
        <splash src="./res/screens/android/screen-ldpi-portrait.png" platform="android" qualifier="ldpi" />
        <splash src="./res/screens/android/screen-hdpi-portrait.png" platform="android" qualifier="hdpi" />
</widget>
